{% extends 'layout.html' %}
{% load %}

{% block content %}
    <form action="{% url 'lift:add' %}" method="post" id="url-form">
        <label for="url-input">Website URL:</label>
        <input id="url-input" name="url" placeholder="example.com" type="text">
        <div id="help-text">Wrong URL</div>
    </form>
    <ul id="url-list">
        {% for object in object_list %}
            <li id="url-item-{{ object.host }}">{{ object.host }}</li>
        {% endfor %}
    </ul>
{% endblock %}

{% block extrabody %}
    <script>
        var config = {
            regex: '{{ regexp | safe }}',
            host_add_url: '{% url 'lift:add' %}',
            objects: [
                {% for object in object_list %}
                    {
                        url: '{{ object.host }}',
                        created: {{ object.created.utcnow.timestamp }}
                    },
                {% endfor %}
            ]
        };
    </script>
{% endblock %}