.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

html, body {
    font-family: proxima-nova, Helvetica, Arial, sans-serif;
}

.container {
    width: 980px;
    margin: 0 auto;
    padding-top: 40px;
}

form#url-form {

}
form#url-form label {
    font-size: 14px;
    color: #333;
    font-weight: 700;
    padding: 0 0 5px 0;
    display: block;
}
form#url-form input[type="text"] {
    box-shadow: inset 0 0 3px rgba(0,0,0,0.16);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding: 8px 10px;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    font-size: 14px;
    border: 1px solid #c4c4c4;
    width: 400px;
    background-color: #fff;
    line-height: 1.5;
    position: relative;
    color: #333;
}
form#url-form #help-text {
    display: none;
    font-size: 11px;
    color: #a94442;
    position: absolute;
}

ul#url-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 0;
    width: 400px;
}
ul#url-list li {
    display: block;
}
.state {
    font-size: 12px;
    font-style: italic;
    width: 100px;
    float: right;
    text-align: right;
}
.state.delayed {
    color: #8a6d3b;
}
.state.sending {
    color: #777;
}
.state.ready {
    color: #3c763d;
}